.top_nav_wrap{max-width:1222px;min-width:1222px;_width:1222px;}
.wd100 .reader_tools_inner{max-width:1222px;min-width:1222px;_width:1222px;}
.page_crubms,.page_body{max-width:1222px;min-width:1222px;_width:1222px;}
.full_2{width:100%;max-width:100%;min-width:100%;}
.page_body .main{width:894px;}
.like_too_mod .doc_list li{margin:0 4% 0 3%;}
.full_1 .like_too_mod .doc_list li{margin:0 2% 0 1.2%;}